@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body
{
    font-family: 'Roboto', sans-serif;
}

header 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
    margin: 40px;

}

#content
{
    margin: 10px 5% 10px;
}

form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin: 10px;
    margin-bottom: 0px;
}

input
{
    -webkit-box-flex: 5;
        -ms-flex: 5 1 350px;
            flex: 5 1 350px;
    margin: 5px;
    padding: 5px;
}

button
{
    -webkit-box-flex: 2;
        -ms-flex: 2 1 100px;
            flex: 2 1 100px;
    border-radius: 5px;
    margin: 5px;
    background-color: dodgerblue;
    color: white;
    border: 0px;
    padding: 5px 10px;
}

#suggestions_pane
{
    margin: 5px 15px;
    margin-top: 0px;
    color: gray;
    font-size: 13px;
}

#suggestions_pane > p
{
    display: block;
    margin: 0;
    padding: 0;
}

.suggestion
{
    border: 2.25px solid dodgerblue;
    border-radius: 20px;
    color: dodgerblue;
    padding: 5px 10px;
    font-size: 14px;
    background-color: transparent;
    -webkit-transition: background-color .1s, color .1s;
    -o-transition: background-color .1s, color .1s;
    transition: background-color .1s, color .1s;
}

.suggestion:hover
{
    background-color: dodgerblue;
    color:white;
}

h3
{
    margin-left: 15px;
}

#results
{
    -webkit-box-shadow: 0px 0px 2px 1px gray;
            box-shadow: 0px 0px 2px 1px gray;
    border-radius: 7px;
    padding: 1px 5px;
    margin: 10px 15px;
    overflow: hidden;
    color: gray;
    font-weight: 300;
}

#gallery
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 15px;
    margin-left: 25px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}

img
{
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 400px;
    margin: 10px;
}